<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SolarSystem</title>
</head>

<body>

<h1>Солнечная система</h1>

<a href="/sundistance">Расстояние от заданной планеты до Солнца</a><br><br>
<a href="/">Расстояние между двумя планетами</a><br><br>
<a href="/">Спутники планеты</a><br><br>
<a href="/">Количество оборотов планеты за N земных суток</a><br><br>
<a href="/">Сравнить размеры двух планет</a><br><br>

</body>

</html>