<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SolarSystem</title>
</head>

<body>

<h1>Количество оборотов планеты за N земных суток</h1>

Укажите планету и количество суток:<br><br>


<form method="post" action="/numrotation">
    <select name="planet">
        <option th:each="currentPlanet : ${allPlanets}" th:text="${currentPlanet.getName()}" th:value="${allPlanets.indexOf(currentPlanet)}"></option>
    </select>

    <input name="days" type="text" size="40">

    <input type="submit" value="OK">
</form>

<br><br>


<div th:unless="${numberRotation} == null">

    <div th:text="'Планета ' + ${planetName} + ' совершит ' + ${numberRotation} + ' оборота за ' + ${days} + ' Земных суток' "></div>


</div>



<br><br>

<div>
    <a href="/" >На главную</a>
</div>


</body>
</html>