<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SolarSystem</title>
</head>

<body>

<h1>Расстояние от планеты до Солнца</h1>

Укажите планету:<br><br>

<form method="post" action="/sundistance">
<select name="planet" id="planet">

    <option value="Меркурий">Меркурий</option>
    <option value="Венера">Венера</option>
    <option value="Земля">Земля</option>
    <option value="Марс">Марс</option>
    <option value="Юпитер">Юпитер</option>
    <option value="Сатурн">Сатурн</option>
    <option value="Уран">Уран</option>
    <option value="Нептун">Нептун</option>

</select>
    <input type="submit" value="Planet">
</form>


<div th:text="${planet.getDistanceToSun()}"></div>



<br><br>
<a href="/">На главную</a><br><br>

</body>
</html>