<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SolarSystem</title>
</head>

<body>

<h1>Расстояние от планеты до Солнца</h1>

Укажите планету:<br><br>

<select id="selcolor">

    <option value="Mercury">Меркурий</option>
    <option value="Venus">Венера</option>
    <option value="Earth">Земля</option>
    <option value="Mars">Марс</option>
    <option value="Jupiter">Юпитер</option>
    <option value="Saturn">Сатурн</option>
    <option value="Uranium">Уран</option>
    <option value="Neptune">Нептун</option>

</select>
<br><br>
<a href="/">На главную</a><br><br>

</body>
</html>